.container {
  height: calc(100vh - 100px);
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
  /*background-color: #b40614;*/

  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
  background-color: #d1411e;
  overflow: hidden;
  position: relative;
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
<<<<<<< HEAD
  z-index: 1;
=======
<<<<<<< HEAD
<<<<<<< HEAD
  z-index: 1;
=======
  z-index: 2;
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
  z-index: 1;
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
<<<<<<< HEAD
  transition: all 1.5s ease-in-out;
=======
<<<<<<< HEAD
<<<<<<< HEAD
  transition: all 1.5s ease-in-out;
=======
  transition: all 1.5s ease-in-out ;
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
  transition: all 1.5s ease-in-out;
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 480px) {
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
  .container {
    height: 50vh;
  }
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
  .container{
    height: 50vh;
  }
}
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
