.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
<<<<<<< HEAD
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.right {
  flex: 1;
}

.title {
  color: #b40614;
  font-weight: bold;
  border: none;
}

.wrapper {
  width: 80%;
  max-height: 300px;

  color: black;
  font-size: 18px;
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.7px);
  -webkit-backdrop-filter: blur(19.7px);
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  background-color: #b40614;
  width: 60%;
  height: 30px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  cursor: not-allowed;
=======
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

<<<<<<< HEAD
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

=======
.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.right {
  flex: 1;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  color: white;
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  background-color: white;
  height: 30px;
  color: teal;
  font-weight: bold;
  margin-top: 20px;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .id::before {
    content: "Order ID: ";
    font-weight: 500;
  }
  .name::before {
    content: "Customer: ";
    font-weight: 500;
  }
  .address::before {
    content: "Address: ";
    font-weight: 500;
  }
  .total::before {
    content: "Total: ";
    font-weight: 500;
  }

  .row:last-child {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .done,
  .undone,
  .inProgress {
    margin-bottom: 20px;
  }

<<<<<<< HEAD
  .wrapper {
=======
  .wrapper{
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
    width: 100%;
  }
}
