.container {
  height: calc(100vh - 100px);
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
  display: flex;
>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
>>>>>>> 5f28f941bceab332975871bbb21c2cc8e8f6cb90
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 20px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
>>>>>>> 5f28f941bceab332975871bbb21c2cc8e8f6cb90
.wrapper {
  width: 95%;
  height: 80%;

  margin-top: 75px;
  margin-left: -20px;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;

  /*background: rgba(253, 253, 253, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
  margin-top: 10%;
  margin-left: 10%;
}

.title {
  color: #b40614;
  margin-left: 80px;
}

.price {
  color: #b40614;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1px solid #34912a;
}

.sizes {
  margin-top: 25px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.size {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 70px;
  height: 70px;
}

.size:last-child {
  height: 90px;
  width: 90px;
}

.size:nth-child(2):hover {
  /*width: 85px;
  height: 85px;*/
  scale: 140%;
  transition: 0.8s;
}

.size:hover {
  /* width: 65px;
  height: 65px;*/
  scale: 140%;
  color-interpolation-filters: sRGB;
  transition: 0.8s;
}

.size:last-child:hover {
  /*width: 100px;
  height: 100px;*/
  scale: 140%;
  transition: 0.8s;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  color: white;
  padding: 0 15px;
  background: #34912a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}

.choose {
  margin-top: 30px;
}
.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #b40614;
  border: #b40614 2px solid;
}

.button {
  height: 50px;
  margin-left: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: #b40614;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background: white;
  border-radius: 8px;
  border-color: #b40614;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: #b40614;
  color: white;
  transition: 0.8s;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #d1411e;
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.size {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}

.size:last-child {
  width: 50px;
  height: 50px;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #d1411e;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

>>>>>>> c69594653924d55c8c4bfcd3b10e7ca9c122e7ab
=======
>>>>>>> f7c3cf3 (final with fix bugs)
>>>>>>> f897d1344edc22ce9fcb3b532aadeedf85952e02
>>>>>>> 5f28f941bceab332975871bbb21c2cc8e8f6cb90
  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}
